<!DOCTYPE html>
<html class="direction--ltr theme--dark" lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}
<body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {%- include footer.html -%}
    <script>
        window.FontAwesomeConfig = {
            searchPseudoElements: true
        }
        $(document).ready(function () {
            $('.post-image').magnificPopup({
                type: 'image',
                callbacks: {
                    elementParse: function (item) {
                        item.src = item.el.attr('src');
                    }
                }
            });
        });
    </script>
</body>

</html>