<!DOCTYPE html>
<html class="dark" lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}
<body class="flex flex-col min-h-screen">
    {%- include header.html -%}
    <main class="pb-4">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            {{ content }}
        </div>
    </main>
    {% include pagination.html %}
    <script>
        window.FontAwesomeConfig = {
            searchPseudoElements: true
        }
        $(document).ready(function () {
            $('.post-image').magnificPopup({
                type: 'image',
                callbacks: {
                    elementParse: function (item) {
                        item.src = item.el.attr('src');
                    }
                }
            });
        });
    </script>
</body>

</html>